<h1>Shopping Cart</h1>
<% if @cart_items.any? %>

      <table class="table align-middle">
        <thead>
          <tr>
            <th>Product Name</th>
            <th class="text-center">Available Stock</th>
            <th class="text-center">Quantity</th>
            <th class="text-end">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |product| %>
            <tr>
              <td><%= product.name %></td>
              <td class="text-center"><%= product.stock_quantity %></td>
              <td class="text-center">
                <%= form_with url: update_cart_path(product.id), method: :patch, local: true, class: "d-inline" do %>
                  <div class="input-group input-group-sm mx-auto" style="width: max-content">
                    <%= number_field_tag "quantity", session[:cart][product.id.to_s], min: 1, max: product.stock_quantity, class: "form-control text-center" %>
                    <button class="btn btn-outline-dark" type="submit">Update</button>
                  </div>
                <% end %>
              </td>
              <td class="text-end">
                <%= button_to remove_cart_path(product.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger btn-sm" do %>
                  <i class="bi bi-trash"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% if (not @cart_items.empty?) and user_signed_in? %>
        <%= link_to "Checkout", checkout_path, class: "btn btn-dark btn-sm" %>

      <% else %>
        <p class="text-muted">Please <a class="text-muted" href="/users/sign_in">Log In</a> or <a class="text-muted" href="/users/sign_up">Register</a> to checkout.</p>
      <% end %>

<% else %>
  <div class="alert alert-info">Your cart is empty.</div>
<% end %>